body {
  font-family: 'Jura';
  font-size: 16px;
  max-width: 642px;
  margin: 5px auto 50px;
}

small {
  font-size: .5em;
  color: gray;
}

main a {
  font-weight: bold;
  text-decoration: none;
}

iframe {
  border: 1px solid gray;
  width: 640px;
  height: 480px;
}
